{% extends 'base.html.twig' %}

{% block title %}Ajouter une demande !{% endblock %}
{%  form_theme formDemande 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1 class="text-black font-weight-bold">

            Modifier demande !


    </h1>
    {{ form_start(formDemande) }}

    {{ form_row(formDemande.dateDemande) }}
    {{ form_row(formDemande.descriptionDemande) }}






    <button type="submit" class="btn btn-primary btn-l">

            Enregistrer

    </button>

    {{ form_end(formDemande) }}



{% endblock %}