{% extends 'back.html.twig' %}

{% block title %}Rate index{% endblock %}

{% block body %}
    <h1>Rate index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom Prestataire</th>
            <th>Prneom Prestataire</th>
            <th>Rate</th>
        </tr>
        </thead>
        <tbody>
        {% for r in moyy %}
            <tr>
                <td>{{ r.nom }}</td>
                <td>{{ r.prenom }}</td>
                <td>{{ r.moy }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
