{% extends 'baseback.html.twig' %}
{% block body %}
<form method="post" action="{{ path('app_typepromo_delete', {'idType': typepromo.idType}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typepromo.idType) }}">
    <button class="btn">Delete</button>
</form>
{% endblock %}
